<!DOCTYPE html>
<html>
<head>
  <title>Tellygo</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "test" %>
 <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
